# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# Compiler
*.py[co]
parsetab.py
lextab.py
parselog.txt
parser.out

# Runtime
device.h
out.x[ce]
test.sire
dump.txt
a.*
*.o

# Documentation
doc/_build
doc/sire_documentation.aux
doc/sire_documentation.idx
doc/sire_documentation.log
doc/sire_documentation.out
doc/sire_documentation.pdf
doc/sire_documentation.tex

