#-----------------------------------------------------------------
# Each entry is a Node sub-class name, listing the attributes
# and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#   <name>      - an attribute
#-----------------------------------------------------------------

# Program
Program:      [vardecls*, procdecls*]

# Variable declarations
VarDecls:     [decl**]
DeclVar:      [type, name*, expr*]
DeclArray:    [type, name*, expr*]
DeclVal:      [name*, expr*]
DeclPort:     [name*, expr*]

# Procedure declarations
ProcDecls:    [decl**]
DeclProc:     [name*, formals*, vardecls*, stmt*]
DeclFunc:     [name*, formals*, vardecls*, stmt*]

# Formal parameters
Formals:      [params**]
ParamVar:     [name]
ParamAlias:   [name]
ParamVal:     [name]
ParamChanend: [name]

# Statements
StmtSeq:      [stmt**]
StmtPar:      [stmt**]
StmtSkip:     []
StmtPcall:    [name*, args*]
StmtAss:      [left*, expr*]
StmtIn:       [left*, expr*]
StmtOut:      [left*, expr*]
StmtIf:       [cond*, thenstmt*, elsestmt*]
StmtWhile:    [cond*, stmt*]
StmtFor:      [var*, init*, bound*, stmt*]
StmtOn:       [core*, pcall*]
StmtConnect:  [left*, core*, dest*]
StmtAliases:  [left*, name*, expr*]
StmtReturn:   [expr*]

# Expressions
ExprList:     [expr**]
ExprSingle:   [elem*]
ExprUnary:    [op, elem*]
ExprBinop:    [op, elem*, right*]

# Elements
ElemGroup:    [expr*]
ElemSub:      [name*, expr*]
ElemFcall:    [name*, args*]
ElemNumber:   [value]
ElemBoolean:  [value]
ElemString:   [value]
ElemChar:     [value]
ElemId:       [value]
